{% extends "base.html" %}
{% load staticfiles %}
{% load my_tags %}
{% load adminUser_tags %}

    {% block title %}Indian Workshop | dashboard{% endblock %}


{% block body %}
        
        <h1>Conference View</h1>
        {% if user.email|isAdminUser %}
        <div class="btn btn-success" data-toggle="modal" data-target="#createSession">create a new session</div>
        {% endif %}
        <a href="{% url "workshop_project.views.classView" %}" class="btn btn-info">view all sessions</a>
        {% if userInfo.teacher %}
        <a href="{% url "workshop_project.views.studentView" %}" class="btn btn-danger">explore students</a>
        <button id="textLoadbtn" class="btn btn-success pull-right"><i class="fa fa-print"></i>  Print All Session Rosters</button>
        <a href="{% url "classrooms.ajax.unscheduled" %}" target="unscheduled" class="btn btn-danger pull-right" style="">Check for Unscheduled students</a>
        {% endif %}
      </div>
      
      
      <div class="panel">
            <div class="panel-body">
      {% if sessionTables %}
        {% for table in sessionTables %}
          <h3>{{table.date}}</h3>
          {% if user.email|isAdminUser %}
          <div class="pull-right"  style="margin-top: -40px;">
            <form id="forceAndToggleLock-form" action="{% url "classrooms.ajax.forceAndToggleLock" %}" enctype='multipart/form-data' method="post" autocomplete="off">{% csrf_token %}
              <input type="hidden" name="date" value="{{table.date|html5Date}}">
              <input type="hidden" name="lock_or_unlock" value="{% if not table.lockedStatus %}lock{%else%}unlock{%endif%}">
              <button type="submit" class="toggleLockBtn btn {% if not table.lockedStatus %}btn-danger"><span>Force Schedule and Lock All Sessions for this Date</span>{%else%}btn-success"><span>Unlock All Sessions for this Date</span>{%endif%}</button>
            </form>
            
          </div>
          {% endif %}
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Start Time</th>
                    {% for column in table.columns %}
                    <th>{{column}}</th>
                    {% endfor %}
                  </tr>
                </thead>
                <tbody>
                  {% for row in table.TwoD_Sessions %}
                      <tr>
                    {% for session in row %}
                        {% if session.rowStarter %}
                          <td class="info startTime">{{ session.rowStarter }}</td>
                        {% elif session.empty %}
                          <td class="danger emptyClick" style="cursor: pointer;" data-options='{"date":"{{table.date|html5Date}}"}'>
                            {{ session.empty }}
                          </td>
                        {% else %}
                          <td{%if session.classFull%} class="warning"{%endif%}>
                            <a href="{% url "workshop_project.views.classView" session.id %}">
                              <div>{{ session.name }}</div>
                              <div>No. Students: {{session.classSize}}</div>
                            </a>
                          </td>
                        {% endif %}
                    {% endfor %}
                      </tr>
                  {% endfor %}
                </tbody>
              </table>
        {% endfor %}
      {% else %}
        Sorry, there are currently no sessions created.
      {% endif %}
            </div>
      </div>
      
      
      
      
      
</div> <!-- End of Main-Content -->

{% endblock %}



